/* 底部背景 */
.footer{
    background-color: rgb(246, 246, 247);
}
/* 底部内容块 */
.content-wrap{
    margin: 0 auto;
    padding: 50px 15px 0;
    height: 520px;
}
/* 底部内容区 */
.footer-content{
    padding: 0 58.2px;
}
/* 底部文字区 */
.footer-text-area{
    float: left;
    width: 838.08px;
    height: 266.4px;
}
/* 文字列表 */
.text-list{
    float: left;
    padding-right: 10px;
}
/* 列表标题 */
.list-title{
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: text;
    font-weight: 400;
}
/* 列表选项 */
.list-item{
    width: 157.61px;
    height: 26px;
    list-style-type: none;
}
/* 列表文字 */
.list-item>a{
    font-size: 14px;
    color: #a7a9ac;
    transition: all .5s ease;
}
/* 列表文字 */
.list-item>a:hover{
    color: #a6ce39;
    transition: all .5s ease;
}

/* 底部arrow */
.footer-arrow{
    width: 100%;
    background-color: rgb(237, 237, 239);
}
/* 每个二维码区域 */
.qrcodes-div{
    float: right;
    width: 74.75px;
    height: 107.15px;
    padding-left: 30px;
}
/* 二维码图片 */
.qrcode{
    width: 74.75px;
    height: 74.75px;
    margin-bottom: 10px;
}
/* 二维码文字 */
.qrcode-text{
    font-size: 16px;
    color: #333;
    text-align: center;
}
/* 关注长隆 */
.follw-chimelong{
    clear: both;
    width: 1047.6px;
    margin-bottom: 30px;
    height: 46px;
    text-align: center;
}
/* 关注长隆下的a标签 */
.follw-chimelong a{
    color: #656868;
}
/* 图标字体 */
.follow-sina-weibo .iconfont{
    font-size: 26px;
    line-height: 48px;
    color: #656868;
    transition: all .5s ease;
}
.follow-wechat .iconfont{
    position: relative;
    top: 3px;
    font-size: 32px;
    line-height: 42px;
    color: #656868;
    transition: all .5s ease;
}
/* 关注选项 */
.follow-sina-weibo,
.follow-wechat{
    position: relative;
    /* top: 2px; */
    display: inline-block;
    width: 46px;
    height: 46px;
    margin: 0 20px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 50%;
    transition: all .5s ease;
}
/* 关注选项hover */
.follow-sina-weibo:hover,
.follow-sina-weibo:hover span,
.follow-wechat:hover,
.follow-wechat:hover span{
    color: #a6ce39;
    border-color: #a6ce39;
    transition: all .5s ease;
}
/* 关注微信二维码块-隐藏 */
.follow-wechat-code-block{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    position: absolute;
    left: -37px;
    bottom: 53px;
    background-image: url(../img/WeChat-official-account.jpg);
    background-size: 108px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    /* overflow: hidden; */
    transition: all .5s;
}
/* 关注微信二维码块-显示 */
.follow-wechat:hover .follow-wechat-code-block{
    opacity: 1;
    background-color: white;
    transition: all .5s;
}
/* 关注微信块下箭头 */
.follow-wechat-arrow{
    width: 10px;
    height: 10px;
    background: none;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(45deg);
    transition: all .5s ease;
}
/* 关注微信块下箭头hover */
.follow-wechat:hover .follow-wechat-arrow{
    background-color: white;
    transition: all .5s ease;
}
/* 客服热线区 */
.contact{
    margin-bottom: 30px;
}
/* 客服热线按钮区 */
.contact-btn-area{
    width: 100%;
    height: 40px;
    position: relative;
    right: 30px;
}
/* 按钮区域容器 */
.contact-btn-container{
    width: 626px;
    height: 40px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* 按钮本体 */
.contact-btn{
    position: relative;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    width: 316.65px;
    height: 40px;
    border-radius: 20px;
    background-color: #a6ce39;
    box-shadow: 0 7px 12px 0 rgb(166 206 57 / 50%);
    transition-property: height, top;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.31, 3.4, 0.29, -0.15), cubic-bezier(0.31, 3.4, 0.29, -0.15);
    transform: translateY(-50%);
    z-index: -1;
}
/* 按钮覆盖层 */
.contact-btn-layer{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 283px;
    height: 40px;
    border-radius: 20px;
    opacity: .99;
    cursor: pointer;
}
/* 按钮覆盖层hover */
.contact-btn-layer:hover{
    position: relative;
    /* top: 2px; */
    height: 40px;
}
/* 按钮覆盖层hover时的按钮 */
.contact-btn-layer:hover .contact-btn{
    position: relative;
    height: 36px;
    transition-property: height, top;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: cubic-bezier(0.31, 3.4, 0.29, -0.15), cubic-bezier(0.31, 3.4, 0.29, -0.15);
    transform: translateY(-50%);
}
/* 按钮内容 */
.contact-btn-content{
    width: max-content;
    position: absolute;
    top: -2px;
    left: 36px;
}
/* 按钮图标字体 */
.contact-btn-iconfont{
    font-size: 32px;
    color: white;
    position: relative;
    left: 2px;
    top: 7px;
}
/* 按钮文字 */
.contact-btn-text{
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
/* 客服热线说明 */
.tention p{
    margin-top: 15px;
    color: #a7a9ac;
    font-size: 12px;
    text-align: center;
}
/* 底部园区切换 */
.bottom-toggle{
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
    left: -10px;
}
/* 底部园区切换文字 */
.bottom-toggle>a{
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    transition: color .5s ease;
}
/* 底部园区切换文字hover */
.bottom-toggle>a:hover{
    color: #a6ce39;
    transition: color .5s ease;
}
/* 网站地图、经营资质、可信任网站、隐私政策区域 */
.footer-list{
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    float: left;
    position: relative;
    left: -10px;
}
/* 网站地图、经营资质、可信任网站、隐私政策文字 */
.footer-list>a{
    padding: 0 25px;
    color: #a7a9ac;
    font-size: 14px;
    transition: color .5s ease;
}
/* 网站地图、经营资质、可信任网站、隐私政策文字hover */
.footer-list>a:hover{
    color: #a6ce39;
    transition: color .5s ease;
}
/* 网站地图、经营资质、可信任网站、隐私政策之间的分割线 */
.list-right-border{
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #a7a9ac;
}
/* 粤公网安备 */
.beian{
    width: 300px;
    height: 20px;
    line-height: 24.8px;
    padding: 24.8px 0;
    margin: 0 auto;
}
/* 粤公网安备logo */
.beianlogo{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
/* 粤公网安备文字 */
.policebeian{
    position: relative;
    right: 5px;
    bottom: 4px;
    color: #939393;
    margin-left: 5px;
    font-size: 16px;
}
/* icp备案模块 */
.icpbeian{
    padding: 10px 0;
    background-color: #a6ce39;
}
/* icp备案文字 */
.icp{
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
/* 通过服务器访问 */
.via-web-server{
    background-color: #a6ce39;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.via-web-server-font{
    font-size: 18px;
    color: white;
    font-weight: 600;
}